# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
dist/
*.egg-info/
build/
*.so

# Node.js / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
next-env.d.ts

# Environment variables
.env
.env.local
.env*.local

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
*.log
".tmp-*.tar*" 
