apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: recurring-scheduler
  namespace: default
spec:
  type: bindings.cron
  version: v1
  metadata:
  - name: schedule
    value: "*/5 * * * *"  # Every 5 minutes