apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: task-state
  namespace: default
spec:
  type: state.postgresql
  version: v1
  metadata:
  - name: connectionString
    secretKeyRef:
      name: neon-db-secret
      key: connection-string
  - name: versionColumnName
    value: "_etag"
  - name: tableName
    value: "state_store"